.section1{
	max-width: 1366px;
	width: 100%;
	height: auto;
	padding-top: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c5deea+3,c5deea+18,8abbd7+49,c5deea+87 */
background: rgb(197,222,234); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(197,222,234,1) 3%, rgba(197,222,234,1) 18%, rgba(138,187,215,1) 49%, rgba(197,222,234,1) 87%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(197,222,234,1) 3%,rgba(197,222,234,1) 18%,rgba(138,187,215,1) 49%,rgba(197,222,234,1) 87%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(197,222,234,1) 3%,rgba(197,222,234,1) 18%,rgba(138,187,215,1) 49%,rgba(197,222,234,1) 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#c5deea',GradientType=0 ); /* IE6-9 */
}
a{
	padding-right: 24px;
	-webkit-transition: all ease;
	-o-transition: all ease;
	transition: all ease;
}
a:hover{
	font-weight: bold;
	text-shadow: 2px 2px 10px purple;
}
.html-logo{
	width: 198px;
	height: auto;
	margin-right: 103px;
}
.navbar-logo-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 160px; 
}
.google{
	width: 47px;
	height: auto;
}
.fb{
	width: 14px;
	height: auto;
}
.youtube{
	width: 24px;
	height: auto;
}
.search{
	width: 40px;
	height: auto;
}
.after:after{
	content: "";
    height: 26.67px;
    width: 1px;
    display: inline-block;
    background-color: #3D58A6;
}
.padding{
	padding-right: 20px;
	padding-left: 20px;
}


.section2{
	max-width: 1366px;
	width: 100%;
	height: auto;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c5deea+3,c5deea+18,8abbd7+49,c5deea+87 */
background: rgb(197,222,234); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(197,222,234,1) 3%, rgba(197,222,234,1) 18%, rgba(138,187,215,1) 49%, rgba(197,222,234,1) 87%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(197,222,234,1) 3%,rgba(197,222,234,1) 18%,rgba(138,187,215,1) 49%,rgba(197,222,234,1) 87%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(197,222,234,1) 3%,rgba(197,222,234,1) 18%,rgba(138,187,215,1) 49%,rgba(197,222,234,1) 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#c5deea',GradientType=0 ); /* IE6-9 */

}
.bg{
	background-image: url(../img/bg.jpg);
	max-width: 1170px;
	height: 480px;
	margin-left: 98px;
	/*margin-right: 98px;*/
	background-position: center;
	/*background-size: cover;*/
	position: relative;
	background-repeat: no-repeat;
}
.left-text{
	position: absolute;
	left: 98px;
	bottom: 30px;
	height: 130px;
	width: 330px;
	margin-bottom: 30px;
}
h4{
	font-size: 30px;
	color: white;
/*	font-weight: bold;*/
	text-transform: uppercase;
}
.html-right{
	position: absolute;
	width: 100px;
	height: auto;
	right: 30px;
	bottom: 70px;
}
h1{
	font-size: 12px;
	color: white;
	text-transform: uppercase;
	/*font-weight: bold;*/
}




.section3{
	max-width: 1366px;
	width: 100%;
	height: auto;
	background-color: #363E97;
}
.text-video-box{
	margin-left: 98px;
}
.text-video{
	font-size: 24px;
	color: white;
	padding-top: 37px;
}
.two-white-boxes{
	background-color: #363E97;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-top: 36px;
	padding-bottom: 80px;
}
.video1{
	width: 570px;
	height: 320px;
	margin-right: 35px;
	margin-left: 98px;
}
.video2{
	width: 570px;
	height: 320px;
	margin-right: 98px;
}
/*.white-box1{
	height: 320px;
	width: 570px;
	background-color: white;
	margin-right: 35px;
	margin-left: 98px;
}
.white-box2{
	height: 320px;
	width: 570px;
	background-color: white;
	margin-right: 98px;
}
.p1{
	background-color: white;
	height: 320px;
	width: 570px;
	text-align: center;
}
.txt{
	padding-top: 160px;
	font-size: 16.85px;
}*/



.section4{
	max-width: 1366px;
	width: 100%;
	height: auto;
	background-color: #3D58A6;
	padding-top: 90px;
	padding-bottom: 88px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.ph{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-right: 35px;
	transition: 1s;
}
.ph:hover{
	box-shadow: 5px 10px 10px purple;
	border: 2px solid black;
}
.ph1{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	        transition: 1s;
}
.ph1:hover{
	box-shadow: 5px 10px 10px purple;
	border: 2px solid black;
}
.p2{
	font-size: 22px;
	background-color: #E6E6E6;
	height: 40px;
	padding-top: 17px;
	padding-left: 15px;
}




.section5{
	max-width: 1366px;
	width: 100%;
	height: auto;
	background-color: #BDCCD4;
}
.text-news{
	font-size: 24px;
	color: #3D58A6;
	margin-left: 98px;
	padding-top: 28px;
	margin-bottom: 28px;
}
.box-bottom{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.box1{
	margin-right: 40px;
	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
	margin-bottom: 30px;
}
.mini-box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.box2{
	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
	margin-bottom: 30px;
}
.txt1{
	font-size: 22px;
	color: #3D58A6;
	padding-top: 18px;
	padding-left: 18px;
}
.img1{
	width: 100px;
	height: 130px;
	margin-left: 38px;
	margin-top: 18px;
}
.img2{
	width: 84.81px;
	height: 129px;
	margin-top: 18px;
	margin-left: 60px;	
}
.txt2-box{
	width: 300px;
	height: auto;
	margin-left: 60px;
	margin-top: 30px;
}
.txt2{
	font-size: 20px;
}


.section6{
	max-width: 1366px;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.bottom1{
	width: 178px;
	margin-left: 98px;
	padding-right: 917px;
}
.bottom2{
	margin-right: 98px;
}
.p9{
	font-size: 12px;
	padding-top: 25px;
	padding-bottom: 25px;
}


@media screen and (max-width: 1024px) {
	.section1{
	max-width: 1024px;
	padding-top: 15px;
}
a{
	padding-right: 18px;
}
.html-logo{
	width: 152px;
	margin-right: 75.3px;
}
.navbar-logo-container{
	margin-left: 123px; 
}
.google{
	width: 36px;
}
.fb{
	width: 10.7px;
}
.youtube{
	width: 18px;
}
.search{
	width: 30.7px;
}
.after:after{
    height: 20.5px;
    width: 1px;
}
.padding{
	padding-right: 5px;
	padding-left: 5px;
}

.section2{
	max-width: 1024px;
}
.bg{
	max-width: 900px;
	height: 369.2px;
	margin-left: 75.3px;
}
.left-text{
	left: 75.3px;
	bottom: 23px;
	height: 100px;
	width: 253.8px;
	margin-bottom: 23.07px;
}
h4{
	font-size: 23.07px;
}
.html-right{
	width: 76.9px;
	right: 23.07px;
	bottom: 53.8px;
}
h1{
	font-size: 12px;
}


.section3{
	max-width: 1024px;
}
.text-video-box{
	margin-left: 75.3px;
}
.text-video{
	font-size: 18px;
	padding-top: 28.4px;
}
.two-white-boxes{
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-top: 27px;
	padding-bottom: 61.5px;
	align-items: center;
}
.video1{
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0;
}
.video2{
	margin-right: 0;
}


.section4{
	max-width: 1024px;
	padding-top: 69px;
	padding-bottom: 67px;
	flex-wrap: wrap;
}
.ph{
	width: 360px;
	height: 320px;
	margin-right: 0;
}
.ph1{
	width: 360px;
	height: 320px;
}
.ph:nth-child(1){
	padding-right: 20px;
}
.ph:nth-child(3){
	padding-right: 20px;
}
.p2{
	font-size: 22px;
	background-color: #E6E6E6;
	height: 40px;
	padding-top: 17px;
	padding-left: 15px;
}




.section5{
	max-width: 1024px;
	width: 100%;
	height: auto;
	background-color: #BDCCD4;
}
.text-news{
	font-size: 24px;
	margin-left: 145px;
}
.box-bottom{
	    -ms-flex-direction: column;
	        flex-direction: column;
	align-items: center;
}
.box1{
	margin-right: 0;
}



.section6{
	max-width: 1024px;
}
.bottom1{
	width: 250px;
	margin-left: 0;
	padding-right: 405px;
}
.bottom2{
	margin-right: 0;
}
.p9{
	font-size: 12px;
	padding-top: 25px;
	padding-bottom: 25px;
}
}